<%- include("partials/header"); -%>
    <h1>Contact Me</h1>
    <h4>Information</h4>
    <p>Name: Scott Sakurai</p>
    <p>Phone: (925) 890-0267</p>
    <p>Email: <a href="mailto:scott.t.sakurai@gmail.com">scott.t.sakurai@gmail.com</a></p>
    <p>Status: Freelance Developer (Open to work)</p>
<%- include("partials/footer"); -%>
